:root {
	--font-main: 'Golos Text';

	--def-width: 1300px;
	--def-padding: 16px;

	--page-bg: #fff;
	--text-color: #222222;
	--text-color-2: #4E4E4E;
	--text-color-3: #919191;
	--text-color-4: #868686;

	--color-grey: #D2DBE3;
	--color-red: #EA4C2A;

	--btn-bg-color-1: #0061BC;
	--btn-bg-color-1-hover: #0075E2;
	--btn-bg-color-2: #22C55E;
	--btn-bg-color-2-hover: #2CDE6D;
	--btn-bg-color-disabled: #D3D3D3;
}